.slider {
  display: block;
  width: 48.6%;
  height: 80vh;
  background-color: #1f1f1f;
  overflow: hidden;
  position: absolute;
}

.slider > * {
  position: absolute;
  display: block;
  width: 48.6%;
  height: 80vh;
  background: #1f1f1f;
  animation: slide 12s infinite;
  overflow: hidden;
}

.slide:nth-child(1) {
  left: 0%;
  animation-delay: -1s;
  background-image: url('./images/solar1.jpg');
  background-size: cover;
  background-position: center;
}

.slide:nth-child(2) {
  /* width: 100%; */
  animation-delay: 2s;
  background-image: url('./images/solar2.jpeg');
  background-size: cover;
  background-position: center;
}

.slide:nth-child(3) {
  /* width: 100%; */
  animation-delay: 5s;
  background-image: url('./images/solar3.jpeg');
  background-size: cover;
  background-position: center;
}

.slide:nth-child(4) {
  /* width: 100%; */
  animation-delay: 8s;
  background-image: url('./images/solar4.jpeg');
  background-size: cover;
  background-position: center;
}

.slide p {
  font-family: Comfortaa;
  font-size: 70px;
  text-align: center;
  display: inline-block;
  width: 100%;
  margin-top: 340px;
  color: #fff;
}

@keyframes slide {
  0% {
    left: 100%;
    width: 0%;
  }
  5% {
    left: 0%;
    width: 100%;
  }
  25% {
    left: 0%;
    width: 100%;
  }
  30% {
    left: -100%;
    width: 100%;
  }
  30.0001% {
    left: -100%;
    width: 0%;
  }
  100% {
    left: 100%;
    width: 0%;
  }
}